	<footer class="py-4 bg-dark">
		<div class="container">
            <p class="text-center mb-2 small text-secondary">
                Copyright &copy; 2022 | Made with <span class="text-danger">&hearts;</span> by Avinash Murmu
            </p>
            <p class="text-center m-0 small">
                <a href="/" class="text-light ff-akira">
                    <b>Shoppinn</b>
                </a>
            </p>
        </div>
	</footer>

	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>