<%- include("./partials/header") %>

<div id="hero">
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark position-relative justify-content-end">
				<a href="/" class="navbar-brand text-uppercase ff-akira">
					<img src="/images/logo.svg" alt="logo" style="height: 24px; vertical-align: text-bottom;"> Shoppinn
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main-navbar">
					<div class="navbar-nav justify-content-between flex-grow-1">
						<div class="nav flex-lg-row flex-column">
							<a href="#" class="nav-link">About</a>
							<a href="/products" class="nav-link">Products</a>
						</div>
						<div class="nav flex-lg-row flex-column">
							<% if (currentUser) { %>
								<div class="nav-item dropdown">
								    <a class="nav-link dropdown-toggle font-weight-bold text-capitalize" href="#" data-toggle="dropdown">
								        <i class="fas fa-user-circle mr-2"></i><%= currentUser.username %>
								    </a>
								    <div class="dropdown-menu shadow rounded-lg">
								        <a class="dropdown-item" href="/profile"><b>Profile</b></a>
								        <a class="dropdown-item" href="/logout"><b>Logout</b></a>
								    </div>
								</div>
							<% } else { %>
								<a href="/login" class="nav-link">Login/SignUp</a>
							<% } %>
							<a href="/user/cart" class="nav-link">

								<span class="d-md-none d-inline mr-2">Cart</span>
								<i class="fas fa-shopping-bag"></i>
								<% if (currentUser) { %>
									<span class="badge"><%= currentUser.cart.length %></span>
								<% } else { %>
									<span class="badge">0</span>
								<% } %>

							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-lg-2 order-1">
					<img src="/images/home1.jpg" alt="app image" class="w-100 rounded-xlg shadow-lg">
				</div>
				<div class="col-lg-6 order-lg-1 order-2 py-5">
					<h2 class="heading ff-akira font-weight-bold mb-4 text-light">One Stop For All Your Gadgets &amp; Gifts</h2>
					<p class="mb-4 text-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officia fuga veniam nemo velit atque!</p>
					<a href="/products" class="btn btn-dark btn-lg px-4">EXPLORE<i class="fas fa-arrow-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>